<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ shop.name }}</title>

    {{ content_for_header }}

    {{ 'tokens.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="template-password">
    <main id="MainContent" class="password-page" role="main">
      <div class="password-page__content page-width">
        {%- if shop.password_message != blank -%}
          <p class="password-page__message">{{ shop.password_message }}</p>
        {%- else -%}
          <p class="password-page__message">{{ 'password.general.opening_soon' | t }}</p>
        {%- endif -%}

        {{ content_for_layout }}
      </div>
    </main>
  </body>
</html>
